body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #00457C;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
}

.logo {
    height: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 15px 20px 15px;
}

.item {
    display: flex;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.item-img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.item-info {
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title {
    font-size: 18px;
    font-weight: 700;
    color: #00457C;
    margin: 0 0 10px;
}

.item-details {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.item-price {
    font-size: 20px;
    font-weight: 700;
    color: #28a745;
    margin: 10px 0;
    text-align: end;
}

.item-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #00457C;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.item-link:hover {
    background-color: #005a99;
}

.footer-container {
    text-align: center;
    padding: 15px;
    background-color: #00457C;
    color: white;
}

.footer-container a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
}

.footer-container a:hover {
    text-decoration: underline;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #28a745;
    border-radius: 3px;
    margin-top: 5px;
}

.status.run-drive {
    background-color: #28a745;
}

.status.salvage {
    background-color: #dc3545;
}


/* About container */

.about-container {
    margin: 100px auto 0;
    padding: 20px;
    max-width: 1200px;
    width: 90%;
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-height: calc(100vh - 160px);
}

.about-info {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Contact */

.contact-container {
    margin: 100px auto 0;
    padding: 20px;
    max-width: 1200px;
    width: 90%;
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-height: calc(100vh - 160px);
}

.contact-container h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

.contact-container address {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

.contact-container p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.contact-container a {
    color: #2980b9; 
    text-decoration: none;
}

.contact-container a:hover {
    text-decoration: underline;
}